.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #000;
  z-index: 1000;

  
  .burger-menu {
    display: flex;
    font-size: 24px;
    color: #FFFFFF;
    cursor: pointer;
    margin-right: auto; 

    @media (min-width: 769px) {
      display: none; 
    }
  }


  .logo {
    font-size: 24px;
    color: #D3E87D;
    cursor: pointer;
    text-decoration: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }


  .language-switch {
    display: flex;
    gap: 10px;

    button {
      background: none;
      border: none;
      color: #FFFFFF;
      cursor: pointer;
      font-size: 16px;
      transition: color 0.3s ease;
    }

    button:hover {
      color: #D3E87D;
    }
  }

  .navigation {
    display: flex;
    gap: 20px;

    a {
      color: #FFFFFF;
      text-decoration: none;
      cursor: pointer;
      transition: color 0.3s ease;
    }

    a:hover {
      color: #D3E87D;
    }

    @media (max-width: 768px) {
      display: none;
      flex-direction: column;
      background-color: #000;
      position: absolute;
      top: 70px;
      left: 0;
      width: 100%;
      padding: 20px;
      border-radius: 10px;

      &.active {
        display: flex;
      }

      a {
        margin: 10px 0;
        text-align: center;
      }
    }
  }
}