.section {
    padding: 20px;
    opacity: 0;
    filter: blur(10px);
    transform: translateY(15px);
    transition: opacity 0.3s ease, filter 0.3s ease, transform 0.3s ease;
  
    &.visible {
      opacity: 1;
      filter: blur(0);
      transform: translateY(0);
    }
  }
  
  .section.hidden {
    opacity: 0;
    filter: blur(10px);
    transform: translateY(15px);
  }
  
  /* Style spécifique pour mobile */
  @media (max-width: 768px) {
    .section {
      padding: 10px;
      transform: translateY(10px);
      transition: opacity 0.2s ease, filter 0.2s ease, transform 0.2s ease;
    }
  
  
    .section.visible {
      opacity: 1;
      filter: blur(0);
      transform: translateY(0);
    }
  }

  
  